{% extends "base.html" %}

{% block title %}
Front Page - Booklogger
{% endblock %}

{% block content %}

<h2>Newest Logs</h2>

{% if newest_logs %}
<div>
  {% for log in newest_logs %}
  <div style="border: 1px solid #a79a9a8a; padding: 12px;">
    <p><strong><a href="/log/{{ log.id }}">{{ log.title }}</a></strong> by {{ log.author }}</p>
    <p>
      Logged by <a href="/profile/{{ log.user_id }}">{{ log.username }}</a>
      {% if log.rating %}
      <br/> Rated: {{ log.rating }}/10
      {% endif %}
      {% if log.review %}
      <p style="max-width: 600px; word-wrap: break-word; line-height: normal">
        <strong>Review:</strong> {{ log.review[:200] }}
        {% if log.review|length > 200 %}
        ...<br/>
        <a href="/log/{{ log.id }}">Read more</a>
        {% endif %}
      </p>
      {% endif %}
    </p>
    
    {% if log.user_id == session.user_id %}
      <a href="/edit/{{ log.id }}">Edit</a>
      <a href="/delete/{{ log.id }}">Delete</a>
    {% endif %}


  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}