<!DOCTYPE html>
<html>

<head>
    <title>My Books</title>
</head>

<body>
    <h1>My Books</h1>
    {% if session.username %}
    <p>
        Logged in as {{ session.username }}
    </p>

    {% for book in books %}
    <p>
        <b>{{ book.title }}</b> by {{ book.author }} <a href="/log/{{ book.id }}">view</a> <a href="/edit/{{ book.id }}">edit</a>
    </p>
    {% endfor %}

    <p>
        <a href="/">Back</a>
    </p>
    <p>
        <a href="/logout">Log out</a>
    </p>
    {% else %}
    <a href="/register">Sign up</a>
    <a href="/login">Log in</a>
    {% endif %}
</body>

</html>