{% extends "base.html" %}

{% block title %}
My Books - Booklogger
{% endblock %}

{% block content %}
<h2>My Books</h2>

{% if logs %}
  <h3>Your Books:</h3>
    {% for log in logs %}

      <div style="border: 1px solid #a79a9a8a; padding: 12px;">
        <p><strong><a href="/log/{{ log.id }}">{{ log.title }}</a></strong> by {{ log.author }}</p>
        <p>
          {% if log.rating %}
            Rated: {{ log.rating }}/10
          {% endif %}
          {% if log.review %}
            <p style="max-width: 600px; word-wrap: break-word; line-height: normal">
              <strong>Review:</strong> {{ log.review[:200] }}
              {% if log.review|length > 200 %}
                ...<br/>
                <a href="/log/{{ log.id }}">Read more</a>
              {% endif %}
            </p>
          {% endif %}

          <a href="/edit/{{ log.id }}">Edit</a>
          <a href="/delete/{{ log.id }}">Delete</a>

        </p>
      </div>
    {% endfor %}
{% else %}
  <p>You have no books logged yet. Start by <a href="/new_log">logging a book</a>.</p>
{% endif %}
{% endblock %}