{% extends "base.html" %}

{% block title %}
{{ member.username }} - Booklogger
{% endblock %}

{% block content %}
<h2>{{ member.username }}'s Page</h2>

<p>{{ member.username }} has been a member since {{ member.created_at }}</p>
<p>{{ member.username }} has left {{member.total_comments}} comments.</p>
<p>{{ member.total_logs }} logs made</p>
<ul>
  <li>Read: {{ member.read_count }} books </li>
  <li>Reading: {{ member.reading_count }} books</li>
  <li>Want-to-read: {{ member.want_to_read_count }} books</li>
  <li>Dropped: {{ member.dropped_count }} books</li>
  <li>On-hold: {{ member.on_hold_count }} books</li>
</ul>

{% if logs %}
  <h3>{{ member.username }}'s Logs</h3>
    {% for log in logs %}

      <div class="log-entry">
        <img src="/cover/{{ log.id }}" alt="Book cover image" class="small-cover">
        <p><strong><a href="/log/{{ log.id }}">{{ log.title }}</a></strong> by {{ log.author }}</p>
        <p>
          Status: {{ log.status }} 
          <br/> 
          {% if log.rating %}
            Rated: {{ log.rating }}/10
          {% endif %}
          {% if log.review %}
            <p class="review">
              <div class="preserve-whitespace">{{ log.review[:200] }}</div>
              {% if log.review|length > 200 %}
                ...<br/>
                <a href="/log/{{ log.id }}">Read more</a>
              {% endif %}
            </p>
          {% endif %}

          {% if log.user_id == session.user_id %}
            <a href="/edit/{{ log.id }}">Edit</a>
            <a href="/delete/{{ log.id }}">Delete</a>
          {% endif %}
        </p>
      </div>
    {% endfor %}
    <p class="page-nav">
      <a href="/profile/{{ member.user_id }}/{{ page - 1 }}">&lt;&lt;</a>
      &nbsp;&nbsp;Page {{ page }}/{{ page_count }}&nbsp;&nbsp;
      <a href="/profile/{{ member.user_id }}/{{ page + 1 }}">&gt;&gt;</a>
    </p>
{% else %}
  <p>You have no books logged yet. Start by <a href="/new_log">logging a book</a>.</p>
{% endif %}

{% endblock %}