{% extends "base.html" %}

{% block title %}
Register - Booklogger
{% endblock %}

{% block content %}
<h2>Registration</h2>
<form action="/register" method="post">
  <p>
    Username (1-30 characters): <br/>
    <input type="text" name="username" minlength="1" maxlength="30" required />
  </p>
  <p>
    Password (min 10 characters): <br/>
    <input type="password" name="password1" minlength="10" required />
  </p>
  <p>
    Re-enter password: <br/>
    <input type="password" name="password2" minlength="10" required />
  </p>
  <input type="submit" value="Create account" />
</form>
{% endblock %}