{% extends "base.html" %}

{% block title %}
  {{ book.title }} - Booklogger
{% endblock %}

{% block content %}
  {% if session.username %}
    <p>Logged in as {{ session.username }}</p>
  {% endif %}

  <h2>{{ book.title }}</h2>

  <p><b>{{ book.title }}</b> by {{ book.author }}</p>
  <p>Status: {{ book.status }}</p>

  {% if book.rating %}
    <p>Rating: {{ book.rating }}/10</p>
  {% else %}
    <p>Rating: -/10</p>
  {% endif %}

  {% if book.review %}
    <p>
      <b>Review:</b><br/>
      {{ book.review }}
    </p>
  {% endif %}
  {% if comments %}
    {% for comment in comments %}
      <div style="border: 1px solid #a79a9a8a; padding: 4px;">
        <p><strong><a href="/profile/{{ comment.user_id }}">{{ comment.username }}</a></strong> {{ comment.created_at }}</p>
        <p>{{ comment.content }}</p>
      </div>
    {% endfor %}
  {% endif %}

  {% if session.username %}
    <form action="/add_comment" method="POST">
    <input type="hidden" name="log_id" value="{{ book.id }}">
    <textarea name="content" rows="10" cols="80"></textarea>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /><br/>
    <input type="submit" value="Leave comment">
    </form>
  {% endif %}
{% endblock %}