{% extends "base.html" %}

{% block title %}
  {{ book.title }} - Booklogger
{% endblock %}

{% block content %}

  <h2>{{ book.title }}</h2>

  <p><b>{{ book.title }}</b> by {{ book.author }}</p>
  <p>Status: {{ book.status }}</p>

  {% if book.rating %}
    <p>Rating: {{ book.rating }}/10</p>
  {% else %}
    <p>Rating: -/10</p>
  {% endif %}

  {% if book.review %}
    <p>
      <b>Review:</b><br/>
      <div class="preserve-whitespace">{{ book.review }}</div>
    </p>
  {% endif %}
  {% if comments %}
    {% for comment in comments %}
      <div class="comment">
        <p><strong><a href="/profile/{{ comment.user_id }}">{{ comment.username }}</a></strong> {{ comment.created_at }}</p>
        <p>{{ comment.content }}</p>

        {% if session.user_id and comment.user_id == session.user_id|int %}
          <a href="/delete_comment/{{ comment.id }}">Remove</a>
        {% endif %}

      </div>
    {% endfor %}
  {% endif %}

  {% if session.username %}
    <form action="/add_comment" method="POST">
    <input type="hidden" name="log_id" value="{{ book.id }}">
    <textarea name="content" rows="10" cols="80"></textarea>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /><br/>
    <input type="submit" value="Leave comment">
    </form>
  {% endif %}
{% endblock %}